p {
    color: black;
    background-color: rgb(255, 0, 0);
    font-size: 30px;
    text-align: center;
    padding: 25px;
    border: 3px;
}
.A1 {
    border: 1px solid rgb(0, 0, 0);
    height: 100px;
    background-color: red;
}
